<div class="notes-container">
  <h1 class="header">Notes</h1>
  <div class="description">
    <p>I'm currently studying at the University of Waterloo for Computer Engineering. I'll be putting my condensed notes <a class="link" href="https://drive.google.com/drive/u/1/folders/1W-JA1pBuEwx1omjQwCLRxkdBtLPFsmUy" target="_blank">here</a>. Feel free to refer to them.</p>
  </div>
  <div class="notes-list">
    <iframe src="https://drive.google.com/embeddedfolderview?id=1W-JA1pBuEwx1omjQwCLRxkdBtLPFsmUy#grid"></iframe>
  </div>
</div>