<div class="home-container">
  <canvas #animation class="background-animation"></canvas>
  <h1 class="header">Willa Kong</h1>
  <div class="social-container">
    <a class="social-icon" href="https://github.com/willakong" target="_blank"><i class="devicon-github-plain"></i></a>
    <a class="social-icon" href="https://linkedin.com/in/willakong/" target="_blank"><i class="devicon-linkedin-plain"></i></a>
    <a class="social-icon" href="../../../../assets/resume.pdf" target="_blank" download><mat-icon>text_snippet</mat-icon></a>
  </div>
  <div class="subtitle">
    <p>
      Hello! I am a computer engineering student studying at the University of Waterloo. I like to program for fun and for a living.
    </p>

    <div class="move-on">
      <p>Find out more about me!</p>
      <mat-icon (click)="navigateAway()">arrow_forward</mat-icon>
    </div>
  </div>
</div>