////////////////////// FONT //////////////////////
$font-family: 'Bitter';

////////////////////// COLORS //////////////////////
// General
$background: #181824;
$text: #ffffff;
$link-text: #f0bec6;
$link-text-hover: #d59ceb;

// Header
$header-background: #121216;

// Button
$submit-btn-bg: #3d3d5f;

// Modal
$modal-background: #00000080;