#about {
  color: yellow;
}

.profile-side {
  display: inline-block;
  margin: auto;
  padding: 25px;
  min-width: 280px;
}

.profile-img {
  float: left;
  padding: 20px;
}

.profile-desc {
  float: left;
}

.profile-side img {
  border-radius: 50%;
  width: 120px;
}

@media screen and (max-width: 930px) {
  .profile-side {
    display: block;
    margin: auto;
  }

  .profile-img {
    padding: 0;
  }

  .profile-img, .profile-desc {
    float: none;
    text-align: center;
  }
}