#about {
  color: yellow;
}

.profile-side {
  background-color: rgba(1, 0, 44, 0.829);
  color: white;
  float: left;
  padding: 25px 0;
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 280px;
}

@media screen and (max-width: 650px) {
  .main {
    display: block;
  }

  .profile-side, .content {
    float: none;
    font-size: 14px;
    width: initial;
  }

  .profile-side {
    border-radius: 0;
    margin: 0;
  }
}

.profile-side img {
  border-radius: 50%;
  width: 120px;
}

.profile-side p {
  text-align: center;
  padding: 5px;
}

.files {
  text-align: center;
}

.content {
  float: left;
}