#projects {
  color: yellow;
}

.tabs {
  border-radius: 0 25px 25px 0;
  float: left;
  margin: 20px 10px 0 0;
  width: 10%;
  min-width: 150px;
  height: 100%;
}

.tablinks {
  border-radius: 0 25px 0 0;
  color: rgb(1, 0, 54);
  cursor: pointer;
  display: block;
  padding: 15px;
  text-align: right;
  text-decoration: none;
  transition: 0.3s;
}

.tablinks:hover, .tabs .active {
  border-radius: inherit;
  background-color: rgb(1, 0, 54);
  color: white;
}

.divider {
  display: none;
}

.content {
  margin-left: 30px;
  float: left;
  max-width: 80%;
}

.tabcontent {
  display: none;
}

.skill-bubbles ul {
  margin: 0 0 10px 0;
  padding: 0;
}

.skill-bubbles li {
  background-color: rgb(1, 0, 54);
  color: white;
  border-radius: 50px;
  display: inline-block;
  font-size: 13px;
  padding: 8px;
  margin-right: 10px;
}

@media screen and (max-width: 925px) {
  .content {
    max-width: 100%;
  }

  .tabs {
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .tabs a {
    text-align: center;
  }

  .divider {
    display: block;
  }
}
