body {
  --light-neutral: #FBFFFD;
  --dark-neutral: #444545;
  --light-accent1: #99E1D9;
  --light-accent2: #FFB8D1;
  --dark-accent: #011638;

  background-color: var(--light-neutral);
  height: 100%;
  width: 100%;
}

#drawing-canvas {
  position: fixed;
  z-index: -1;
}

#home, #about, #portfolio {
  height: 100vh;
}

#about, #portfolio {
  padding-top: 10vh;
}

.navbar {
  background: var(--light-neutral);
  opacity: 0.9;
}

.active {
  color: var(--dark-accent);
}

.nav-link {
  color: var(--dark-neutral);
}

.greetings {
  color: var(--dark-accent);
  font-weight: bold;
  font-size: 20vw;
}

.typed-words {
  color: var(--dark-neutral);
  font-size: 5vw;
}

.connect-icons {
  color: var(--light-accent1);
  font-size: 10vh;
}

.connect-icons:hover{
  color: var(--light-accent2);
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
  color: var(--dark-neutral);
  font-size: 2em;
}

.slick-slide {
  margin: 0 27px;
}

.slick-track {
  margin: 0;
}
.card-body {
  color: var(--dark-accent);
}

.card-text {
  color: var(--dark-neutral);
}

.tools-icon-links {
  color: var(--light-accent1);
  font-size: 4vh;
}

.tools-icons {
  color: var(--light-accent2);
  font-size: 5vh;
}

/* Small */
@media (min-width: 576px) {
  .greetings {
    font-size: 20vw;
  }
}

/* Medium */
@media (min-width: 768px) {
  .greetings {
    font-size: 20vw;
  }

  .typedWords {
    font-size: 6vw;
  }
}

/* Large */
@media (min-width: 992px) {
  .typedWords {
    font-size: 5vw;
  }

  .sectionHeaders {
    font-size: 7vw;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  .typedWords {
    font-size: 5vw;
  }
}