.tab {
  background-color: seashell;
  float: left;
  height: 95vh;
}

.tab button {
  background-color: inherit;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 20px;
  text-align: right;
  width: 100%;
}

.tab button:hover {
  background-color: rgb(181, 242, 255);
  color: black;
}

.tab .active {
  background-color: rgb(76, 176, 155);
  color: white;
}

.tabcontent {
  float: left;
  padding: 0 12px;
}
